@model BTL_ConGa.Models.MonAn
@using BTL_ConGa.Models;
@{
    ViewData["Title"] = "SuaMonAn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Sửa món ăn có danh mục: @ViewBag.tendanhmuc</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <form asp-action="SuaMonAn">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Mã món ăn</label>
                                    <input id="MaMonAn" disabled class="form-control" value="@Model.MaMonAn" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tên món ăn</label>
                                    <input id="TenMonAn" class="form-control" oninput="checktenmonan()" value="@Model.TenMonAn" />
                                    <span class="text-danger"></span>
                                    <span id="tenmonanError1" class="invalid-feedback">Tên ảnh không được bỏ trống</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Đơn giá</label>
                                    <input id="DonGia" type="number" class="form-control" oninput="checkdongia()" value="@Model.DonGia" />
                                    <span class="text-danger"></span>
                                    <span id="dongiaError1" class="invalid-feedback">Đơn giá không được bỏ trống</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mô tả</label>
                                    <input id="MoTa" class="form-control" oninput="checkmota()" value="@Model.MoTa" />

                                    @* <textarea id="MoTa" class="form-control" value="@Model.MoTa" oninput="checkmota()" style="width: 100%; height: 200px;"></textarea>*@

                                    <span asp-validation-for="MoTa" class="text-danger"></span>
                                    <span id="motaError1" class="invalid-feedback">Mô tả không được bỏ trống</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Trạng thái</label>
                                    <select id="TrangThai" class="form-control" asp-items="ViewBag.TrangThai" oninvalid="@Model.TrangThai"></select>
                                    <span asp-validation-for="TrangThai" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ảnh đại diện</label>
                                    <input id="AnhDaiDien" type="file" oninput="checkanhdaidien()" />
                                    <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                                    <span id="anhdaidienError1" class="invalid-feedback">Ảnh không được bỏ trống</span>
                                </div>
                                <div class="form-group">
                                    <img id="AnhChinh" style="width:300px; height:300px" src="@Url.Content("/Chicken/images/ThucDon/"+ViewBag.tendanhmuc + "/" + Model.AnhDaiDien)" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Số lượng</label>
                                    <input id="SoLuong" type="number" oninput="checksoluong()" class="form-control" value="@Model.SoLuong" />
                                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                                    <span id="soluongError1" class="invalid-feedback">Số lượng không được bỏ trống</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Danh mục</label>
                                    <input id="" disabled class="form-control" value="@ViewBag.tendanhmuc" />

                                    <input id="DanhMuc" style="display:none" disabled class="form-control" value="@ViewBag.madanhmuc" />

                                    <span asp-validation-for="MaDanhMuc" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input onclick="SuaMonAn()" value="Sửa món ăn" class="btn btn-primary" />
                                    <a class="btn btn-primary" asp-action="monantheodanhmuc" asp-route-madanhmuc="@Model.MaDanhMuc">Quay lại</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .is-invalid {
        border-color: #dc3545 !important;
    }

    .invalid-feedback {
        display: none;
        color: #dc3545;
    }
</style>
<script>
    function checkdanhmuc(danhmuc) {
        var tenthumuc1 = "";
        if (danhmuc == "DM01")
            tenthumuc1 = "ComBo";
        else if (danhmuc == "DM02")
            tenthumuc1 = "ThucAnTrua";
        else if (danhmuc == "DM03")
            tenthumuc1 = "NuocUong";
        else if (danhmuc == "DM04")
            tenthumuc1 = "MonChinh";
        else
            tenthumuc1 = "DongGia";

        return tenthumuc1;
    }
</script>

<script>


    function checktenmonan() {
        var tenmonan = document.getElementById("TenMonAn");
        if (tenmonan.value == "") {
            tenmonan.classList.add("is-invalid");
            document.getElementById("tenmonanError1").style.display = "block";
            return false;
        }
        tenmonan.classList.remove("is-invalid");
        document.getElementById("tenmonanError1").style.display = "none";
        return true;

    }

    function checkdongia() {
        var dongia = document.getElementById("DonGia");
        if (dongia.value == "") {
            dongia.classList.add("is-invalid");
            document.getElementById("dongiaError1").style.display = "block";
            return false;
        }
        dongia.classList.remove("is-invalid");
        document.getElementById("dongiaError1").style.display = "none";
        return true;

    }

    function checkmota() {
        var mota = document.getElementById("MoTa");
        if (mota.value == "") {
            mota.classList.add("is-invalid");
            document.getElementById("motaError1").style.display = "block";
            return false;
        }
        mota.classList.remove("is-invalid");
        document.getElementById("motaError1").style.display = "none";
        return true;

    }


    function checksoluong() {
        var soluong = document.getElementById("SoLuong");
        if (soluong.value == "") {
            soluong.classList.add("is-invalid");
            document.getElementById("soluongError1").style.display = "block";
            return false;
        }
        soluong.classList.remove("is-invalid");
        document.getElementById("soluongError1").style.display = "none";
        return true;
    }

    function checkanhdaidien() {
        var anhdaidien = document.getElementById("AnhDaiDien");
        if (anhdaidien.value != "") {

            //hinhanh1.classList.remove("is-invalid");
            //document.getElementById("AnhError").style.display = "none";

            var anh = anhdaidien.value.split(/[\\|/]/);
            var anhchinh = anh[anh.length - 1];
            //anhcuoi = anhchinh;
            var image = document.getElementById('AnhChinh');
            var danhmuc = document.getElementById('DanhMuc');

            $.ajax({
                type: "POST",
                url: "/admin/LuuAnhVaoFoderKhiChonAnh",
                data: { anhchinh: anhchinh + "\\" + checkdanhmuc(danhmuc.value) },
                success: function (response) {
                    image.src = "/Chicken/images/ThucDon/" + checkdanhmuc(danhmuc.value) + "/" + anhchinh;
                }
            });
            anhdaidien.classList.remove("is-invalid");
            document.getElementById("anhdaidienError1").style.display = "none";
            return true;
        }
        else {
            anhdaidien.classList.add("is-invalid");
            document.getElementById("anhdaidienError1").style.display = "block";
            return false;
        }



    }

</script>


<script type="text/javascript">
    //Hàm thêm mới khách hàng . dùng $.ajax thwucj hiện method httpPost

    function SuaMonAn() {

        var mamonan = document.getElementById("MaMonAn").value;
        var tenmonan = document.getElementById("TenMonAn").value;
        var dongia = document.getElementById("DonGia").value;
        var mota = document.getElementById("MoTa").value;
        var trangthai = document.getElementById("TrangThai").value;
        var anhdaidien = document.getElementById("AnhChinh");
        var soluong = document.getElementById("SoLuong").value;
        var danhmuc = document.getElementById("DanhMuc").value;

        var anhchinh = anhdaidien.src.split(/[\\|/]/);
        var anhdaidien2 = anhchinh[anhchinh.length - 1];



        var url = 'https://localhost:7067/api/monanapi/suamonan'
            + '?MaMonAn=' + mamonan
            + '&TenMonAn=' + tenmonan
            + '&DonGia=' + dongia
            + '&MoTa=' + mota
            + '&TrangThai=' + trangthai
            + '&AnhDaiDien=' + anhdaidien2
            + '&SoLuong=' + soluong
            + '&MaDanhMuc=' + danhmuc;


        $.ajax({

            url: url,
            method: 'PUT',
            contentType: 'json',
            dataType: 'json',
            error: function (response) {

                checktenmonan();
                checkdongia();
                checkmota();
                checksoluong();
                checkanhdaidien();

            },
            success: function (reponse) {
                checkanhdaidien();
                if (checktenmonan() == true
                    && checkdongia() == true
                    && checkmota() == true
                    && checksoluong() == true) {
                    alert("Sửa thành thành công");
                    window.location.href = 'https://localhost:7067/admin/monantheodanhmuc?madanhmuc=' + danhmuc;
                }
                else
                    alert("Bạn chưa nhập đầy đủ thông tin");

            }
        });
    }


</script>